body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Components/image/arlnod.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
    font-family: akira;
    src: url(./Components/akira.otf);
    }

h2 {
  color:white;
  font-family: akira;
        color: white;
        width: fit-content;

}
h3 {
  font-family: akira;
        color: grey;
        width: fit-content;

}
.bg-light {
  background-color: #000000!important;

}
